@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* root de cor */
:root {
    --rosaClaro: #fff8f9;
    --rosaMedio: #b06678;
    --rosaEscuro: #8d3d51;
    --rosaForm: #ffe1e6;
    --rosaBtn: #DF94A3;
    --cinza: #423e3e;
}

/* root de fonte family */
:root {
    --cursiva: "Dancing Script", cursive;
    --titulo: "Playfair Display", serif;
    --texto: "Poppins", sans-serif;
}

body {
    p {
        font-family: var(--texto);
        color: var(--cinza);
    }

    h1,
    h2 {
        font-family: var(--titulo);
    }
}

/* configurando seção de alinhamento */
.alinhamento {
    width: 100%;
    max-width: 1200px;
    padding: 3rem 2rem;
    margin: 0 auto;
}

/* INÍCIO HEADER */
header {
    background-color: var(--rosaClaro);

    .alinhamento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .logotipo {
            display: flex;
            align-items: center;
            gap: 2rem;
            color: var(--rosaEscuro);
            font-family: var(--cursiva);
            font-size: 13px;

            img {
                height: 85px;
            }
        }

        .telefone {
            text-decoration: none;
            font-family: var(--cursiva);
            font-weight: 400;
            background: white;
            padding: 10px 15px;
            border-radius: 10px;
            color: var(--rosaEscuro);
            transition: transform 0.4s ease;

            &:hover {
                transform: translateY(-5px);
            }
        }


    }
}

/* FIM HEADER */

/* INÍCIO MAIN */
main {
    background-image: url(../img/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .alinhamento {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .caixa-texto {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: start;

            h2 {
                font-size: 47px;
                color: var(--rosaEscuro);
            }

            p {
                line-height: 2rem;
                font-size: 15px;
            }

            .cor-diferente {
                font-size: 47px;
                color: var(--rosaMedio);
                font-weight: 600;
            }
        }

        #formulario {
            display: flex;
            flex-direction: column;
            background-color: var(--rosaForm);
            text-align: center;
            padding: 30px;
            border-radius: 20px;
            gap: 25px;
            box-shadow: 3px -1px 56px -10px rgba(169, 169, 169, 0.75);
            -webkit-box-shadow: 3px -1px 56px -10px rgba(169, 169, 169, 0.75);
            -moz-box-shadow: 3px -1px 56px -10px rgba(169, 169, 169, 0.75);

            h3 {
                font-family: var(--titulo);
                font-size: 30px;
                color: var(--rosaEscuro);
            }

            .inputs {

                display: flex;
                flex-direction: column;
                gap: 10px;
                /* align-items: center; */

                h4 {
                    font-family: var(--titulo);
                    font-size: 17px;
                    color: var(--rosaEscuro);
                }

                input,
                textarea,
                select,
                option {
                    background-color: var(--rosaClaro);
                    font-family: var(--texto);
                    color: var(--cinza);
                    font-size: 16px;
                    border: 1px solid var(--rosaEscuro);
                    padding: 5px 10px;
                    border-radius: 7px;
                    cursor: pointer;
                }

                .divComInput {
                    display: flex;
                    /* flex-direction: column;  */
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
            }

            .mainBtn {
                border-radius: 10px;
                padding: 4px 10px;
                font-size: 17px;
            }


        }
    }
}

.mainBtn {
    border: none;
    font-size: 17px;
    background: var(--rosaBtn);
    color: white;
    font-family: var(--texto);
    font-weight: 400;
    padding: 8px 30px;
    border-radius: 0 10px 0 10px;
}


/* FIM MAIN */

/* INÍCIO SEÇÃO QUEM SOMOS */
#secao-quem {
    background-color: var(--rosaClaro);

    .alinhamento {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 80px;

        .caixa-texto {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 25px;
                color: var(--rosaMedio);
            }

            p {
                font-family: var(--texto);
                font-size: 17px;
                color: var(--cinza);
            }

            button {
                margin-top: 15px;
            }

        }

        img {
            height: 400px;
        }
    }

}

.title {
    font-size: 30px;
    font-family: var(--titulo);
    color: var(--rosaEscuro);

}

/* FIM SEÇÃO QUEM SOMOS */

/* INÍCIO SEÇÃO TRANSFORMAÇÃO */
#transformacao {
    background-color: var(--rosaForm);

    .alinhamento {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;

        h2 {
            font-size: 35px;
        }

        .cards {
            /* display: flex;
            flex-wrap: wrap;
            gap: 5%;
            justify-content: center;
            padding: 10px 0; */
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            gap: 20px;

            .card {
                /* width: 200px; */
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                background: transparent;
                padding: 20px;
                transition: transform ease 0.5s;

                &:hover {
                    cursor: pointer;
                    transform: translateY(-10px);
                    box-shadow: -2px -2px 52px -8px rgba(252, 252, 252, 0.75);
                    -webkit-box-shadow: -2px -2px 52px -8px rgba(252, 252, 252, 0.75);
                    -moz-box-shadow: -2px -2px 52px -8px rgba(252, 252, 252, 0.75);
                }

                h3 {
                    color: var(--rosaEscuro);
                    font-family: var(--titulo);
                }

                p {
                    font-family: var(--texto);
                    color: var(--cinza);
                }

                img {
                    width: 50px;
                }
            }

        }

        .mainBtn {
            margin-top: 30px;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}




/* FIM SEÇÃO TRANSFORMAÇÃO */

/* INÍCIO SEÇÃO FAQ */
#secao-faq {
    background-color: var(--rosaClaro);

    .alinhamento {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        h2 {
            font-size: 35px;
        }

        .faq {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .caixaPergunta {
                background: white;
                padding: 20px;
                border-radius: 15px;
                box-shadow: -4px 4px 16px 2px rgba(109, 109, 109, 0.57);
                -webkit-box-shadow: -4px 4px 16px 2px rgba(109, 109, 109, 0.57);
                -moz-box-shadow: -4px 4px 16px 2px rgba(109, 109, 109, 0.57);

                .pergunta {
                    display: flex;
                    justify-content: space-between;
                }

                h3 {
                    font-size: 20px;
                    color: var(--cinza);
                }

                .resposta {
                    p {
                        color: var(--cinza);
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* FIM SEÇÃO FAQ */

/* INÍCIO ANIMAÇÃO FAQ */
.pergunta {
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.resposta {
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s;
}

.aberto {
    height: 100%;
    opacity: 1;
}

/* pra seta girar pra cima e pra baixo */
.caixaPergunta:has(.girar) .seta {
    transform: rotate(180deg);
}

.seta {
    /* Animação pra seta girar */
    transition: transform .2s linear;
}

/* FIM ANIMAÇÃO FAQ */



/* INÍCIO SEÇÃO ÚLTIMA CHAMADA */
.ultimaChamada {
    background-color: var(--rosaForm);

    .alinhamento {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 60px;



        .carrossel {
            max-width: 30%;
        }

        img {
            height: 300px;
            width: 300px;
        }

        .caixaTexto {
            background-color: var(--rosaClaro);
            padding: 40px;
            border-radius: 20px 0 20px 0;
            border: 1px dotted var(--rosaEscuro);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;

            h3 {
                font-family: var(--texto);
                color: var(--rosaEscuro);
                font-weight: bold;

            }

            p {
                font-family: var(--texto);
                color: var(--cinza);
                font-size: 15px;
            }

            .mainBtn {
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.carousel-item .active {
    img {
        height: 100px;
        width: 100px;
    }
}

/* FIM SEÇÃO ÚLTIMA CHAMADA */

/* INÍCIO RODAPÉ */
footer {
    background-color: #FFF8F9;

    .alinhamento {
        text-align: center;
        padding: 1.5rem 0;

        p {
            color: var(--rosaEscuro);
            font-size: 12px;
        }

        a {
            color: var(--rosaEscuro);
            font-size: 12px;
        }
    }
}



/* FIM RODAPÉ */